
/* ------------ left nav bar ------------ */

#pst-primary-sidebar {
    max-width: 210px;
    border-right: 1px solid #ccc;
    padding: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sidebar-primary-item {
    padding: 0 !important;
}

.navbar-brand.logo {
    padding: 16px;
}

.bd-links.bd-docs-nav {
    margin: 0;
}

.current.nav.bd-sidenav {
    margin: 0;
    padding-left: 4px;
    padding-right: 8px;
}

.sidebar-primary-item .search-button-field {
    display: none;
}

.sidebar-primary-items__end {
    display: none;
}






/* ------------ right nav bar ------------ */

.bd-article-container {
    width: 100% !important;
    max-width: none !important;
}

#pst-secondary-sidebar {
    max-width: 240px;
    height: 100vh;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sidebar-secondary-item {
    border: 0;
    width: 100%;
}

.bd-toc-nav.page-toc {
    margin: 0;
}

.visible.nav.section-nav.flex-column {
    margin: 0;
    padding: 0;
}

ul.nav.section-nav.flex-column {
    margin: 0px;
    padding-left: 25px;
    display: block;
    visibility: visible;
}


/* ------------ hide scrollbars ------------ */

#pst-primary-sidebar,
#pst-secondary-sidebar {
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

#pst-primary-sidebar::-webkit-scrollbar,
#pst-secondary-sidebar::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}


/* --------- always display search button --------- */

.article-header-buttons .search-button__button {
    display: inline-flex !important;
    visibility: visible !important;
}


/* --------------- general --------------- */

h2 {
    margin: 100px 0 0 0;
}

#artifical-intelligence h2 {
    margin: 50px 0 0 0;
}

h3 {
    margin: 50px 0 0 0;
}

p {
    margin: 25px 0 0 0;
}

.no-top-margin {
    margin-top: 0;
}

.bottom-margin {
    margin-bottom: 15px;
}

ul {
    margin: 10px 0 0 50px;
    padding-left: 0;
}

/* ul inside admonition */
.admonition ul {
    margin: 0 1.4rem 0 70px !important;
    padding-left: 0;
}

ol {
    margin: 10px 0 0 50px;
    padding-left: 0;
}

figure {
    margin: 25px 0 0 0;
    padding: 0 !important;
}

/* math */
mjx-container {
    margin: 0 !important;
}

/* python cell */
.highlight-python.notranslate {
    margin: 10px 1.4rem 10px 70px !important;
}

/* code cells */
.cell.docutils.container {
    margin-top: 20px;
    margin-bottom: 35px;
}


/* table */
.pst-scrollable-table-container {
    max-width: 300px;
    margin: 30px auto 0 auto;
}